main{

    background: url('C:\Users\juanj\Documents\Documentos\Unisabana\5_Semestre\Intr_Ing\Web_site\Metas-2020-Alimentación-Saludable.webp');
    background-size: cover;
    background-position: center;
}